# PostgreSQL Client Authentication Configuration File
# ===================================================

# TYPE DATABASE USER ADDRESS METHOD
local all all trust
host {{ db_name }} {{ db_user }} all md5